<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>18/12/30 23:18:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_FlipkartMISearch.FlipkartPurchase()[pri:0, instance:testCasesFlipkart.TC001_FlipkartMISearch@3327bd23]">FlipkartPurchase</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>18/12/30 23:18:58</td>   <td>11067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testCasesFlipkart.TC001_FlipkartMISearch@3327bd23]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>18/12/30 23:18:58</td>   <td>11206</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testCasesFlipkart.TC001_FlipkartMISearch@3327bd23]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>18/12/30 23:18:58</td>   <td>11074</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testCasesFlipkart.TC001_FlipkartMISearch@3327bd23]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>18/12/30 23:18:36</td>   <td>-10592</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testCasesFlipkart.TC001_FlipkartMISearch@3327bd23]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>18/12/30 23:18:36</td>   <td>-10581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testCasesFlipkart.TC001_FlipkartMISearch@3327bd23]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>18/12/30 23:18:36</td>   <td>-11011</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testCasesFlipkart.TC001_FlipkartMISearch@3327bd23]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/12/30 23:18:36</td>   <td>-10606</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_FlipkartMISearch.setData()[pri:0, instance:testCasesFlipkart.TC001_FlipkartMISearch@3327bd23]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
</table>
